<h2 class="text-center mb-2">FAQ</h2>
<section class="text-center container">
    <article >
    <h3>Lorem, ipsum dolor.1</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, ratione!</p>
    </article>
    <article>
    <h3>Lorem, ipsum dolor.2</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, ratione!</p>
    </article>
    <article>
    <h3>Lorem, ipsum dolor.3</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, ratione!</p>
    </article>
    <article>
    <h3>Lorem, ipsum dolor. 4</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, ratione!</p>
    </article>

</section>