<div class="text-center bg-secondary mt-2">
        <h1>¿Querés dar en adopción?</h1>
        <h2>Completá el siguiente formulario:</h2>
</div>
        <form action="/adopciones" method="POST" >
            <h3>Datos del animal:</h3>
            <label>Nombre del animal: </label>
            <input type="text" required name="nombre"><br>
            <label>Tipo de animal:</label>
            <input type="text" required name="tipo_animal">
            {{!-- </select> --}}
            <label>Edad aproximada:</label>
            <input type="number" required name="edad">
            {{!-- <select type="text" required name="">
                <option selected value="D">dias</option>  
                <option value="M">meses</option>
                <option value="A">años</option>
            </select><br> --}}
            {{!-- <label>Sexo:</label>
            <select type="text" required name="sexo">
                <option selected value="M">macho</option>  
                <option value="H">hembra</option>
            </select>
            <label>¿Está castrado?:</label>
            <select type="text" required name="es_castrado">
                <option selected value="no_se">No se</option>   
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>
            <label>¿Tiene alguna condición médica que requiera medicación o cuidados especiales?:</label>
            <select type="text" required name="cond_medica">
                <option selected value="no_se">No se</option>   
                <option value="si">Si</option>
                <option value="no">No</option>
            </select> --}}
            <label>Si tu respuesta fue sí, por favor dejanos una breve descripción:</label>
            <textarea class="textarea" placeholder="" name="cond_medica_descripcion"></textarea>
            {{!-- <label>Foto de la mascota:</label>
            <input type="file" required name="imagen"><br> --}}
            <h4>¡Ya falta poco!</h4>
            <h5>Por último, dejanos tus datos para que te podamos contactar:</h5>
            <label> Nombre: </label>
            <input type="text" name="duenio_nombre" required placeholder="Nombre y apellido"> 
            <label> E-mail: </label>
            <input type="email" name="mail" required placeholder="tumail@dominio.com">
            <label> Localidad / Barrio</label>
            <input type="text" name="localidad" required placeholder="">
            <h6>Comentarios:</h6>
            <textarea class="textarea" name="comentarios" placeholder="Acá podés dejarnos comentarios..."></textarea>
            <br>
            <input type="submit" id="button_enviar">
        </form>