<main class="main ">
      
<!-- carrousel boostrap -->
<section class="container my-2 mb-3">
    {{!-- <h2 class="bg-secondary my-2"> Organizaciones encargadas del rescate de animales en Argentina</h2> --}}

    <div id="carouselExampleIndicators" class="carousel slide  mx-auto " data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner ">
          <div class="carousel-item active ">
          <a href="https://www.elcampitorefugio.org" target="_blank"><img src="https://medias.musimundo.com/medias/1600-x-400-AMEX.jpg?context=bWFzdGVyfGltYWdlc3wyODYzMzB8aW1hZ2UvanBlZ3xoZTQvaGRkLzEwMzYzNDUwMDY0OTI2LzE2MDAteC00MDAtQU1FWC5qcGd8YmJhZmVhNDJkZmFlZWIzZWUyOGRkNjMyNWUwOTJiOWExZWU0MWJiYjRmN2RiMmQ0MmY3MTBiNzY4ZGY4MTJjZQ" class="carru-img " alt="..."></a>  
          </div>
          <div class="carousel-item">
            <a href="https://www.proyecto4patas.org/requisitos-adopcion/" target="_blank"><img src="https://www.naldo.com.ar/medias/Web-1440x350-Samsung.jpg?context=bWFzdGVyfGltYWdlc3wyMTE2MDN8aW1hZ2UvanBlZ3xpbWFnZXMvaDI1L2hjZS85NjQyOTgxNTg5MDIyLmpwZ3xmNDU1MTRlNTNlMjFmNmFlNmI5MzI0YzRhM2Q3YjI2NjYzNmVkYjk5ZWMwMTRlM2UzZDE5MmY4ODgyMzRiMGZh" alt="..."></a>
          </div>
          <div class="carousel-item">
            <a href="https://www.fundaciondegatitos.org.ar" target="_blank"><img src="https://medias.musimundo.com/medias/Header-CARSA-generico-h18h25-2022.jpg?context=bWFzdGVyfGltYWdlc3wzNjIzNjJ8aW1hZ2UvanBlZ3xoMmMvaDRiLzEwMzYxNDMyMzc1MzI2L0hlYWRlcl9DQVJTQV9nZW5lcmljb19oMThoMjVfMjAyMi5qcGd8OWRmNGFiZDhmODAxYzQ0ZDMyMzFhN2JmM2M2OWUyZjE1ODM0YTA1NjQwY2Y0NDE5MjBmNTBmMzQ4ZTk3Yjk1NA" class="carru-img " alt="..."></a>
          </div>
        </div>
        <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden ">Previous</span>
        </button>
        <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>
{{!-- ofertas --}}
<section class="d-flex container">
  <div class="card-group">
  <div class="card mx-2">
    <img src="https://e.rpp-noticias.io/normal/2021/10/15/094009_1158669.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Atención personalizada</h5>
      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, placeat?</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card mx-2">
    <img src="https://tienda.claro.com.ar/wcsstore/Claro/Attachment/samsung-blue-days-claro-tienda-descuento-20-mobile.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Promo abril</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni eveniet porro ipsum officiis doloribus aspernatur, beatae mollitia quia est voluptatibus.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card mx-2">
    <img src="https://laopinion.com/wp-content/uploads/sites/3/2021/04/celulares-oferta-shutterstock_1146012125.jpg?quality=80&strip=all&w=1200" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">2x1 en marcas seleccionadas</h5>
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab ullam recusandae eius aperiam natus quos. Dolorem deleniti reprehenderit laboriosam hic?</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</section>


<hr class="container">
<section class="container">
  
<h5>Celulares en cuotas, solo en Tienda nombreEmpresa</h5>
<p>Comprá tu celular</p>
<p>En Tienda nombreEmpresa vas a encontrar una selección de los últimos celulares a la venta junto con una amplia variedad de smartphones de primera categoría. Tienda Personal te permite tener al alcance de tus manos todos los modelos de celulares en oferta. Encontrá todas las especificaciones para decidir cuál de los modelos de celulares es tu mejor opción. Si estás buscando teléfonos celulares liberados, en Tienda Personal vas a encontrar toda la información para decidirte.</p>

<h5>Modelos de celulares</h5>
Encontrá las distintas marcas de celulares como: Apple, Samsung, Motorola, LG, Nokia, Alcatel, Cyrus, Veah.
¿Cuál es tu celular favorito? ¡Descubrilo en Tienda Personal! Te presentamos todas las gamas de celulares para que las puedas comprar en cuotas fijas y que te lleguen a tu domicilio. También vas a encontrar lanzamientos exclusivos para que tengas siempre lo último en tecnología de smartphones.
<br>
<br>
<h5>Lanzamientos de equipos celulares</h5>
<p>En Personal estamos al día con las novedades tecnológicas. Por eso, siempre te traemos los últimos equipos celulares y los mejores precios del mercado. Además de los descuentos, te ofrecemos cuotas para que puedas tener tu celular lo más rápido posible y lo pagues de la forma más sencilla posible.</p>
<p>En Tienda Personal tenés la información de cada equipo celular y vas a poder leer en detalle sobre el precio del smartphone y su financiación.</p>

<h5>Financiación</h5>
<p>La satisfacción del cliente es muy importante para Personal. Por eso pensamos planes de financiación exclusivos para celulares. Al comprar tu celular en Tienda Personal, podés pagarlo en cuotas con tarjeta de crédito. No te olvides que también vas a recibir gratuitamente en tu domicilio cualquier celular que compres en nuestra Tienda Personal.</p>

</section>
<hr class="container">
<section class="container mb-3">
  {{!-- <h2 class="text-center">Ofertas</h2> --}}
  <article class="card bg-dark  mx-auto">
  <img src="https://dam.ngenespanol.com/wp-content/uploads/2019/10/celulares-radiacion.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">Los mejores equipos</h5>
  </div>
</article>
</section>
{{!-- <section class="container bg-primary">
<h2 class="text-center">Lorem ipsum dolor sit.</h2>
<P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae explicabo harum nisi laboriosam vel provident necessitatibus minus laborum debitis maiores?</P>
<P>Nulla exercitationem illum, magni quidem ut nostrum, nemo, mollitia earum sit aut eum unde impedit quo molestiae natus est sequi?</P>
<P>Quas ullam iusto obcaecati aliquam harum pariatur quo similique facilis distinctio ad aspernatur, maiores laboriosam quam reiciendis soluta. Non, quisquam!</P>
<P>Quas eaque quam debitis neque labore distinctio praesentium earum exercitationem esse, adipisci expedita quae commodi cumque, quia recusandae error dolor.</P>
<P>Odit explicabo accusantium fugiat, nostrum exercitationem facilis soluta sequi ratione similique, in cum nesciunt. Similique voluptas dolores eum magni praesentium?</P>
<P>Accusamus inventore, quidem eum fugiat fuga amet, itaque error eaque eveniet accusantium quia molestiae animi ab iure non repellendus numquam!</P>
</section>
<hr>
<section class="container bg-secondary">
<h2 class="text-center">Lorem ipsum dolor sit.</h2>
<P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae explicabo harum nisi laboriosam vel provident necessitatibus minus laborum debitis maiores?</P>
<P>Nulla exercitationem illum, magni quidem ut nostrum, nemo, mollitia earum sit aut eum unde impedit quo molestiae natus est sequi?</P>
<P>Quas ullam iusto obcaecati aliquam harum pariatur quo similique facilis distinctio ad aspernatur, maiores laboriosam quam reiciendis soluta. Non, quisquam!</P>
<P>Quas eaque quam debitis neque labore distinctio praesentium earum exercitationem esse, adipisci expedita quae commodi cumque, quia recusandae error dolor.</P>
<P>Odit explicabo accusantium fugiat, nostrum exercitationem facilis soluta sequi ratione similique, in cum nesciunt. Similique voluptas dolores eum magni praesentium?</P>
<P>Accusamus inventore, quidem eum fugiat fuga amet, itaque error eaque eveniet accusantium quia molestiae animi ab iure non repellendus numquam!</P>
</section> --}}
</main>