<div class="row justify-content-center">
    <div class="col-6">
        <h1>Registro</h1>
        <form action="/auth/register" method="post" class="p-2">
            <input type="text" name="userName" id="userName" placeholder="UserName" class="form-control mb-2">
            <input type="email" name="userEmail" id="userEmail" placeholder="Email@Dominio.com"
                class="form-control mb-2">
            <input type="password" name="userPassword" id="userPassword" placeholder="******"
                class="form-control mb-2">
            <button type="submit" class="w-100 btn btn-primary mb-2">Registar</button>
    </div>
</div>
</form>