<!-- footer -->
<footer class="footer" id="ContactoFooter">
    <div class="sec1">
                
        <div class="box">
            <!-- <i class="fa-solid fa-code"></i> -->
            <h4>Proyecto Colaborativo</h4>
            <p>Este proyecto nace con la necesidad de crear un entorno de trabajo y poner en practica lo aprendido</p>
        </div>
        <div class="box">
            <h4>Integrantes</h4>
            <ul>
                <li><a href="https://www.linkedin.com/in/ana-laura-burgos/" target="_blank">Burgos Laura</a></li>
                <li><a href="https://www.linkedin.com/in/juana-jauregui-88a58b143/" target="_blank">Jauregui Juana</a></li>
                <li><a href="https://www.linkedin.com/in/santiago-l-martinez/" target="_blank">Martinez Santiago</a></li>
                <li><a href="https://www.linkedin.com/in/jose-luis-perez-huanca-361775229/" target="_blank">Perez Huanca Jose</a></li>
                <li><a href="https://www.linkedin.com/in/dylanquiroga/" target="_blank">Quiroga Dylan</a></li>
                <li><a href="https://www.linkedin.com/in/rossiantonella702/" target="_blank">Rossi Antonella</a></li>
            </ul>
        </div>
        <div class="box socialMedia">
            <h4>Redes Sociales</h4>

            <!-- FALTA agregar redes sociales -->
            <!-- FALTA TRABAJAR PALETA DE COLORES -->
            
            <!-- facebook -->
            <a href="#"><i class="footer-icon fa-brands fa-facebook"></i></a>
            <!-- github -->
            <a href="" class="footer-icon" ><i class="footer-icon fa-brands fa-github"></i></a>
            <!-- linkedin -->
            <a href=""><i class="footer-icon fa-brands fa-linkedin"></i></a>
            <!-- Phone -->
            <a href=""><i class="footer-icon fa-solid fa-square-phone"></i></a>
            <!-- Instagram -->
            <a href=""><i class="footer-icon fa-brands fa-instagram-square"></i></a>
        </div>
    </div>
    <div class="sec2">
        <small>&copy; 2022 <b>Grupo 2</b> - Powered by <a href="http://www.pescar.org.ar/" target="_blank">Fundacion Pescar</a> & <a href="https://www.jpmorgan.com/AR/en/about-us" target="_blank">J.P.Morgan</a> </small>
    </div>
</footer>