<form action="/contacto" method="post" class="mb-2 border rounded bg-warning p-3">
<div class="mb-2">
    <label for="nombre_ConsultaForm" class="form-label">Nombre:</label>
    <input type="text" class="form-control" name="nombre_ConsultaForm" id="nombre_ConsultaForm" placeholder="Juan Lopez">
</div>
<div class="mb-2">
    <label for="telefono_ConsultaForm" class="form-label">Telefono :</label>
    <input type="text" class="form-control" name="telefono_ConsultaForm" id="telefono_ConsultaForm" placeholder="1234-4321">
</div>
<div class="mb-2">
    <label for="email_ConsultaForm" class="form-label">Email:</label>
    <input type="email" class="form-control " name="email_ConsultaForm" id="email_ConsultaForm" placeholder="Juan@Lopez.com">
</div>
<div class="mb-2">
    <label for="" class="form-label"> Consulta:</label>
    <textarea class="form-control" name="consulta_ConsultaForm" id="consulta_ConsultaForm" placeholder="Dejanos tu consulta"></textarea>

</div>
<button type="submit" class="btn btn-primary w-100">Enviar</button>
</form>
