<form action="/adopciones" method="post">
<input type="text" name="nombre" id="nombre" placeholder="nombre">
<input type="text" name="especie" id="especie" placeholder="especie">
<input type="text" name="edad" id="edad" placeholder="edad">
<input type="text" name="castrado" id="castrado" placeholder="castrado">
<input type="number" name="telefonoDeContacto" id="telefonoDeContacto" placeholder="telefonoDeContacto">
<input type="text" name="zona" id="zona" placeholder="zona">

{{!-- img --}}
<button type="submit">Enviar</button>
</form>
