        <nav class="navbar navbar-expand-lg navbar-light bg-ligh header-Nav">
            <div class="container-fluid">
                    <div class="icon-nav">
                        <a class="navbar-brand" href="/">Huellitas </a>
                        <img src="/img/svg/huella.svg" id="img-nav" alt="123">
                    </div>
                <button class="navbar-toggler nav-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon nav-btn"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/adopciones">Quiero adoptar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/formulario">Quiero poner en adopcion</a>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle bg_header" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Consejos de adopcion
                            </a>
                            <ul class="dropdown-menu bg_header " aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item bg_hover" href="/consejosadopcion">Primeros dias</a></li>
                                <li><a class="dropdown-item bg_hover" href="/consejosadopcion">Castracion</a></li>
                                <li>
                                    <a class="dropdown-item bg_hover" href="/consejosadopcion">Alimentacion</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>